.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*~
.project
.settings
.classpath
.c9/
*.launch
.vscode/
*.code-workspace
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.md
LICENSE
README.md