.git
.github
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
.env
*.log
.pytest_cache
.mypy_cache
.dmypy.json
dmypy.json
.pyre
.idea
.vscode
*.md
LICENSE
upload.ps1
start.py
start_no_check.py
uv.lock
